{% extends "base.html" %}

{% block content %}
        	
		<div class="parent-wrapper" id="outer-wrapper">
			{% include "teacher/teacher_sidemenu.html" %}

			<!-- MAIN CONTENT -->
			<form id="AssignmentForm" method="post" action="teacher-create-assignment.html" enctype="multipart/form-data">

			<div class="main-content" id="content-wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 clear-padding-xs">
							<h5 class="page-title"><i class="fa fa-code"></i>CREATE ASSIGNMENT</h5>
							<div class="section-divider"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 clear-padding-xs">
							<div class="col-xs-12">
								<div class="dash-item first-dash-item">
									<h6 class="item-title"><i class="fa fa-edit"></i>CREATE NEW ASSIGNMENT</h6>
									<div class="inner-item">
										<div class="dash-form">
											<div class="col-sm-3">
												<label class="clear-top-margin"><i class="fa fa-user-circle-o"></i>CLASS</label>
												<input type="text" placeholder="Class Name" name="class_name" required/>

											</div>
											<div class="col-sm-3">
												<label class="clear-top-margin"><i class="fa fa-user-circle-o"></i>SECTION</label>
												<input type="text" placeholder="Section Name" name="section_name" required/>
											</div>
											<div class="col-sm-3">
												<label class="clear-top-margin"><i class="fa fa-code"></i>SUBJECT</label>
												<input type="text" placeholder="Subject Name" name="subject_name" required/>
											</div>
											<div class="col-sm-3">
												<label class="clear-top-margin"><i class="fa fa-code"></i>TEACHER</label>
												<input type="text" placeholder="Name" name="teacher_name" required/>
											</div>
											<div class="col-sm-3">
												<label class="clear-top-margin"><i class="fa fa-calendar"></i>SUBMIT BY</label>
												<input type="text"  placeholder="MM/DD/YYYY" required id="dob" name="Time_limit" />
											</div>
											<div class="col-sm-12">
												<label><i class="fa fa-edit"></i>REMARKS</label>
												<textarea placeholder="Enter Remarks Here" name="description" required></textarea>
											</div>
											<div class="col-sm-12">
												<label><i class="fa fa-file-code-o"></i>UPLOAD FILE</label>
												<input class="file-input" type="file" name="assignment_File" required/>
											</div>
											<div class="col-sm-12">
												<button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> SAVE</button>
											</div>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-togggle-btn">
					<a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
				</div>

			</div>
			</form>
		</div>
	
		{% endblock %}